/* SECTIONS */

body {
  margin: 0;
  background-color: #35ccff;
}

/* NAV */

#nav {
  font-family: sans-serif;
}

#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav li {
  display: inline;
  padding: 16px;
}

#nav ul li {
  background-color: #ffface;
}

#nav li:hover {
  background-color: #fff160;
}
