/* SECTIONS */

body {
  margin: 0;
  background-color: #35ccff;
}

#section {
  background-color: #ffffff;
  box-shadow: 3px 3px 10px #2ba5ce;
  overflow: hidden;
  margin: 10px;
}

#card {
  background-color: #35ccf;
  box-shadow: #cccccc;
  overflow: hidden;
  margin: 10px;
}

#card.middle {
  width: auto;
  clear: both;
}

#card.left {
  width: 45%;
  float: left;
}

#card.right {
  width: 45%;
  float: right;
}

/* NAV */

#nav {
  font-family: sans-serif;
}

#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #ffface;
}

#nav li {
  padding: 16px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#nav ul li {
  display: inline;
}

#nav li:hover {
  background-color: #fff160;
}
