/* SECTIONS */

body {
  margin: 0;
  background-color: #35ccff;
}

/* NAV */

#nav {
  font-family: sans-serif;
}

#nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #ffface;
}

#nav li {
  padding: 16px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#nav ul li {
  display: inline;
}

#nav li:hover {
  background-color: #fff160;
}
